<aside class="col-lg-3 col-md-4 col-12 d-flex justify-content-center mb-5">
    <div class="sidebar ml-2 border-1 border-right">
        <div class="mb-3 text-center">
            <img class="rounded-circle border border-2 border-primary" src="/images/profiles/admin.png" alt=""
                style="width: 200px; height: 200px;">
            <p class="mt-4">Hola, <span class="text-primary font-weight-bold">Administrador</span></p>
            <small>user@user</small>
        </div>
        <hr class="w-50 mx-auto">
        <div class="widget popular-feeds px-5" style="border-style: none;">
            <div class="">
                <div class="single-popular-feed">
                    <i class="fas fa-columns fa-lg d-inline mr-2"></i>
                    <h6 class=""><a href="/panelControl">Panel Principal</a></h6>
                </div>
                <div class="single-popular-feed">
                    <i class="fas fa-users fa-lg d-inline mr-2"></i>
                    <h6 class=""><a href="/usuariosRegistrados">Usuarios Registrados</a></h6>
                </div>

                <div class="single-popular-feed text-primary">
                    <i class="fas fa-book fa-lg d-inline mr-2"></i>
                    <h6 class="text-primary"><a href="/administrarCursos">Administrar Cursos</a></h6>
                </div>
                <div class="single-popular-feed">
                    <i class="fas fa-dollar-sign fa-lg d-inline mr-2"></i>
                    <h6 class=""><a href="#">Ganancias</a></h6>
                </div>

            </div>
        </div>
    </div>
</aside>